.NameLists {
    display: flex;
}

.NameLists.single {
    justify-content: center;
}

.List-operations {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.LinkButton {
    text-decoration: none;
    border: 0;
    background: transparent;
    padding: 0;
    text-align: left;
    color: #262626;
    border-bottom: .125rem solid #262626;
    font-weight: 500;
    cursor: pointer;
    background-image: none;
    border-radius: 0;
    font-size: 1.3rem;
}

.LinkButton:hover {
    color: #c1c1c1;
    border-color: #c1c1c1;
}
