.AddNameForm-inputLine {
    display: flex;
    margin-bottom: 1.5rem;
    width: 100%
}

.AddNameForm-inputLine .AddNameForm-nameInput {
    flex-basis: 100%;
}

.AddNameForm-submit {
    padding: 10px;
    border-radius: 5px;
    background-color: #33333315;
    position: relative;
    border: 1px solid #3333334f;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
}

.AddNameForm-submit:hover {
    background-color: #fafafa
}