.NameList {
    flex-basis: 50%;
}

.NameList-title {
    text-align: center;
}

.u--flexcentered .NameList {
    flex-basis: 100%;
} 

.NameList > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.NameList li {
    padding: 10px 30px 10px 10px;
    box-shadow: 0 5px 7px -1px rgb(51 51 51 / 23%);
    border-radius: 10px;
    background-color: #fafafa;
    margin-bottom: 0.5rem;
    position: relative;
}

.NameList li:hover {
    border-radius: 11px;
    background-color: #f5f5f5;
}

.NameList li > a {
    display: flex;
    justify-content: space-between;
    border: none;
    font-size: inherit;
    color: inherit;
}

.NameList li > a:hover {
    color: inherit;
}

.NameList li.NameList--faded {
    background-color: #e2e2e2
}

.NameList-icon {
    padding-right: 0.25rem;
}

.NameList-RemoveButton {
    padding: 0 10px;
    margin-right: -20px;
    background: none;
    border: none;
    font-size: inherit;
    transform: rotateX( 45deg);
}
