@using NamR.Shared

<h1 class="Title">@TitleText</h1>

@if (ShowActionBar)
{
    <div class="Title-actionBar">
        <NavLink href="@($"/")">Info og hjelp</NavLink>
        @if (AdditionalLinkHref != null && AdditionalLinkText != null)
        {
            <NavLink href="@AdditionalLinkHref">@AdditionalLinkText</NavLink>            
        }
    </div>
}

@code {
    [Parameter]
    public Guid ListId { get; set; }

    [Parameter]
    public string TitleText { get; set; } = default!;

    [Parameter]
    public bool ShowActionBar { get; set; } = true;

    [Parameter]
    public string? AdditionalLinkText { get; set; }

    [Parameter]
    public string? AdditionalLinkHref { get; set; }
}
