@using NamR.Shared

<h1 class="Title">@TitleText</h1>

@if (ShowActionBar)
{
    <div class="Title-actionBar">
        <NavLink href="@($"list/{Guid.NewGuid()}")">Lag ny liste</NavLink>
        <NavLink href="@($"/")">Hjem</NavLink>
    </div>
}

@code {
    [Parameter]
    public Guid ListId { get; set; }

    [Parameter]
    public string TitleText { get; set; } = default!;

    [Parameter]
    public bool ShowActionBar { get; set; } = true;
}
